<div style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group d-flex justify-content-left ">
                <div class="form-outline">
                    <input type="search" id="form1" class="form-control" [(ngModel)]="filterTerm"
                        placeholder="Pretraga..." style="width: 350px;" />

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary float-right m-2 px-3" data-bs-toggle="modal"
                data-bs-target="#exampleModal" (click)="addClick()" data-bs-backdrop="static" data-bs-keyboard="false"
                style="float: right;">
                Dodaj automobil
            </button>
        </div>
    </div>
    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
                    <button id="izgasi" style="background-color: red;" type="button" class="close px-2"
                        data-bs-dismiss="modal" aria-label="Close" (click)="closeClick()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <app-auto-dodaj-izmeni [auto]="auto" *ngIf="ActivateDodajIzmeniKomp==true"></app-auto-dodaj-izmeni>

                </div>

            </div>
        </div>
    </div>

    <div class="container text-center">
        <table class="table table-striped mt-5">
            <thead class="">
                <tr>
                    <!--<th>Stanica Id</th>-->
                    <th style="display: none;">Id</th>
                    <th>Proizvodjač</th>
                    <th>Model</th>
                    <th>Broj registracije</th>
                    <th>Boja</th>
                    <th>Dostupan</th>
                    <th>Rezervisan</th>
                    <th>Godište</th>
                    <th>Cena po danu</th>
                    <th>Gorivo</th>
                    <th>Kubikaža</th>
                    <th>Broj sedišta</th>
                    <th>Menjač</th>

                    <th></th>


                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of automobili | filter: filterTerm">
                    <td>{{item.nazivProizvodjaca}}</td>
                    <td>{{item.nazivModela}}</td>
                    <td>{{item.brojRegistracije}}</td>
                    <td>{{item.boja}}</td>
                    <td>
                        <button class="btn btn-{{item.dostupan==true? 'success':'danger'}}">
                            {{item.dostupan==true?"Da":"Ne"}}</button>
                    </td>
                    <td>
                        <button class="btn btn-{{item.rezervisan==true? 'success':'danger'}}">
                            {{item.rezervisan==true?"Da":"Ne"}}</button>
                    </td>

                    <td>{{item.godiste}}</td>
                    <td>{{item.cena}}</td>
                    <td>{{item.gorivo}}</td>
                    <td>{{item.kubikaza}}</td>
                    <td>{{item.brojSedista}}</td>
                    <td>{{item.menjac}}</td>



                    <td>
                        <button type="button" class="btn btn-light m-1" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" (click)="addEdit(item)" data-bs-backdrop="static"
                            data-bs-keyboard="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil" viewBox="0 0 16 16">
                                <path
                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                            </svg>
                        </button>
                        <button type="button" class="btn btn-light m-1" (click)="deleteClick(item)">


                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash3" viewBox="0 0 16 16">
                                <path
                                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                            </svg>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>